.about-container{
    text-align: center;
}

.about-image{
    margin-top: 3%;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 10px solid white;
}

.about-text{
    text-align: justify;
    padding-top: 2%;
    color: white;
    width: 60%;
    margin: auto;
}

.about-text p{

}