.page-header{
    padding-top: 2rem;
    text-align: center;
    width: 30%;
    margin: auto;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-color: white;
    border-radius: 5px;
}