.home-image{
    transform: scaleX(-1);
    width: 85%;
    border-radius: 50%;
}

.home-header{
    font-size: 4rem;
    margin-top: 5%;
}

.home-text{
    text-align: left;
    padding: 5% 8% 7%;
}

.home-buttons{
    margin: 3% 5% 0% 0%;
}

.home p{
    color:#fdaf75;
    font-size: 1.5rem;
    margin-top: 3rem;
}