.carousel-container{
    text-align: center;
    margin:auto;
    margin-top: 3%;
    width: 90%;
}
.carousel-image{
    text-align: center;
    align-items: center;
    margin:auto;
    width: auto;
    height: auto;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-inner{
    width: 100%;
}