.carousel-container{
    text-align: center;
    margin:auto;
    margin-top: 3%;
    width: 100%;
}
.carousel-image{
    width: 70rem;
    height: auto;
}

.carousel-indicators {
    bottom: -50px;
}