/* variables for the primary colors */
$primary-color1: #f24a72;
$primary-color2: #333c83;
$primary-color3: #fdaf75;
$primary-color4: #eaea7f;

/* variables for the fonts */
$font1:'Inter', sans-serif;

h1,h2,h3,h4,h5{
  font-family: $font1;
  color: $primary-color1;
  font-weight: bold;
}