body {
  margin: 0;
  background-color: #333c83;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}